Source: libjson2pb
Priority: extra
Maintainer: Sergey Zaharov <zaharov.sy@gmail.com>
Standards-Version: 3.8.4
Build-Depends:
 debhelper
 , g++
 , cmake
 , libprotobuf-dev (>= 2.6.1)
 , protobuf-compiler (>= 2.6.1)
 , libjansson-dev
 , libboost-test-dev
Section: libs
Homepage: https://github.com/alheio/json2pb/

Package: libjson2pb
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: json 2 protobuf and protobuf 2 json
 json 2 protobuf and protobuf 2 json 

Package: libjson2pb-dev
Section: libdevel
Architecture: any
Depends: libjson2pb, protobuf-compiler
Description: json 2 protobuf and protobuf 2 json dev headers
 json 2 protobuf and protobuf 2 json dev headers
